In [19]:
ls

00. _wd - working day.txt
01. KRXworkingDay_from1980.csv
CSV/
Currency/
KOR/
KRX반도체_SK하이닉스_KOSPI200.xlsx
README.md
Ridge_baseline.ipynb
Taiwan/
US/
_Rhistory
bloomberg_dataprocessing-Copy1.ipynb
bloomberg_dataprocessing.ipynb
data_change_ver0.1.csv
data_change_ver0.2.csv
df_test.csv
df_test2.csv
eda.ipynb
eda_from_change.ipynb
lasso_baseline.ipynb
list
list.csv
logistic_classifier_baseline.ipynb
new/
ols_baseline_regression.ipynb
preprocessing.ipynb
preprocessing.py
semiconductor_bloomberg_preprocessing.ipynb
semiconductor_feature_list_bloomberg.xlsx
tree_based_regressor_baseline.ipynb
~$semiconductor_feature_list_bloomberg.xlsx

In [4]:
pwd

'/Users/mokpolar/Documents/GitHub/KRX_semiconductor_index_prediction'

In [2]:
import pandas as pd

In [3]:
eco = pd.read_csv('/Users/mokpolar/Downloads/bloomberg_raw/economic.csv')

/Users/mokpolar/opt/anaconda3/envs/tf-py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
eco.set_index('col0', inplace = True)

In [5]:
eco.head()

                col1  col2        col3  col4
col0
GDP CQOQ Index     0     1  03/31/1981   8.1
GDP CQOQ Index     0     1  06/30/1981  -2.9
GDP CQOQ Index     0     1  09/30/1981   4.9
GDP CQOQ Index     0     1  12/31/1981  -4.3
GDP CQOQ Index     0     1  03/31/1982  -6.1

In [6]:
economic = eco.loc[['GDP CQOQ Index',
'GDP CYOY Index',
'GDPCTOT% Index',
'GPDITOC% Index',
'GPGSTOC% Index',
'RGCDCIPI Index',
'GDP CUR$ Index',
'GDP CURY Index',
'GDP PIQQ Index',
'GDPCPCEC Index',
'CPI YOY Index',
'CPI XYOY Index',
'PCE DEFY Index',
'PCE CYOY Index',
'CPI CHNG Index',
'CPUPXCHG Index',
'FDIDFDMO Index',
'FDIDSGMO Index',
'FDIUFDYO Index',
'FDIUSGYO Index',
'USURTOT Index',
'USUDMAER Index',
'INJCJC Index',
'INJCSP Index',
'NFP TCH Index',
'NFP PCH Index',
'USMMMNCH Index',
'AWH TOTL Index',
'USWHTOT Index',
'USEMTOT Index',
'USEMNCHG Index',
'USERTOT Index',
'EMDINP1M Index',
'JOLTOPEN Index',
'JOLTHIRS Index',
'JOLTSEPS Index',
'CHALYOY% Index',
'ADP CHNG Index',
'USHEYOY Index',
'USHETOT% Index',
'ECI YOY Index',
'COSTNFR% Index',
'PRODNFR% Index',
'IP  YOY Index',
'IP  CHNG Index',
'CPTICHNG Index',
'TMNOCHNG Index',
'DGNOYOY Index',
'DGNOCHNG Index',
'MTIBCHNG Index',
'MWINCHNG Index',
'MGT2TB Index',
'MGT2MA Index',
'MGT2WH Index',
'MGT2WHDU Index',
'MGT2RE Index',
'IP Index',
'MTSLRL$ Index',
'AGWHTOTL Index',
'NFP T Index',
'USEMTOT Index',
'PIDSPINX Index',
'NAPMPMI Index',
'NAPMNMI Index',
'NAPMPRIC Index',
'MPMIUSCA Index',
'MPMIUSMA Index',
'MPMIUSSA Index',
'CFNAI Index',
'CFNAIMA3 Index',
'OUTFGAF Index',
'EMPRGBCI Index',
'RCHSINDX Index',
'CHPMINDX Index',
'MAPMINDX Index',
'OEUSKLAR Index',
'OEUSKLAP Index',
'LEI TOTL Index',
'LEI YOY Index',
'LEI CHNG Index',
'LEI AVGW Index',
'LEI WKIJ Index',
'LEI NWCN Index',
'NAPMNEWO Index',
'LEI MNO Index',
'LEI BP Index',
'LEI STKP Index',
'LEI LCI Index',
'LEI IRTE Index',
'LEI ACE Index',
'RSTAMOM Index',
'RSTAXMOM Index',
'RSTAYOY Index',
'RSTAXYOY Index',
'MBRXYOYW Index',
'SAARTOTL Index',
'SAARDTOT Index',
'CONCCONF Index',
'CONSSENT Index',
'COMFCOMF Index',
'COMFBTWR Index',
'PITLYOY Index',
'PITLCHNG Index',
'PCE CHY% Index',
'PCE CHNC Index',
'PIDSDPS Index',
'CICRTOT Index',
'EHCAUS Index',
'USCABAL Index',
'USTBTOT Index',
'USTBEXP Index',
'USTBIMP Index',
'USTBEXPY Index',
'USTBIMPY Index',
'IMP1YOY% Index',
'IMP1CHNG Index',
'FRNTTOTL Index',
'FRNTTNET Index',
'FDTR Index',
'USGG3M Index',
'USGG10YR Index',
'USTW$ Index',
'JNVNYOYS Index',
'JNVNIYOY Index',
'MPMIJPCA Index',
'MPMIJPMA Index',
'MPMIJPSA Index',
'CNGDPYOY Index',
'GDPNTTLY Index',
'CHEFTYOY Index',
'CNPPIY Index',
'CPMINDX Index',
'CPMINORD Index',
'CPMINEXO Index',
'CNCILI Index',
'CNFREXPY Index',
'CNFRIMPY Index',
'KOGDPYOY Index',
'KOGDPQOQ Index',
'KOECPRCY Index',
'KOECGCPY Index',
'KOECGVTY Index',
'KOECEXPY Index',
'KOECIMPY Index',
'KOECSPRQ Index',
'KOECGCSY Index',
'KOECSGVQ Index',
'KOECSEMQ Index',
'KOECSIMQ Index',
'KOECFCOY Index',
'KOECFCSY Index',
'OEKRN022 Index',
'KOGNICNY Index',
'KOGNICUY Index',
'KOGCGDPY Index',
'KOGCSTOQ Index',
'KODFTOTY Index',
'KOCPI Index',
'KOCPIYOY Index',
'KOCPIMOM Index',
'SKCITTL Index',
'SKCIYOY Index',
'SKCIMOM Index',
'KOCLLNS Index',
'KOPPI Index',
'KOPPIYOY Index',
'KOPPIMOM Index',
'KOEAUERS Index',
'KOEAEMPY Index',
'KOUETTY Index',
'KOEAPY Index',
'KOEAEPR Index',
'KOQEEYOY Index',
'KOWDR Index',
'KOULMGF Index',
'KOULMGFY Index',
'KOLPI Index',
'KOLPIY Index',
'SKLIOTAR Index',
'KOIPISA Index',
'KOIPIY Index',
'KOIPIMOM Index',
'KOIPMS Index',
'KOIPMY Index',
'KOIPMSM Index',
'KOPSIY Index',
'KOPIIY Index',
'KOIPMC Index',
'KOIPMCY Index',
'KOIPOPSM Index',
'KOIVCPEY Index',
'KOIVCCY Index',
'KOIVCONY Index',
'KOCGCGY Index',
'KOCGCGSM Index',
'KOSVTOTY Index',
'KOSVTOTM Index',
'KOVMPROD Index',
'KOBSMC Index',
'KOBSNMC Index',
'SKBSIC Index',
'SKBSICSA Index',
'MPMIKRMA Index',
'OEKRKLAR Index',
'OEKRKLAP Index',
'SKLILI Index',
'SKLILY Index',
'SKLILC Index',
'SKLICI Index',
'SKLIINVC Index',
'SKLICONE Index',
'SKLIMORD Index',
'SKLICONT Index',
'SKLINBAR Index',
'SKLIOTAR Index',
'SKLISPRC Index',
'SKLIINTR Index',
'SKLIIPAL Index',
'SKLICNST Index',
'SKLISVCI Index',
'SKLIWNRS Index',
'SKLISHPP Index',
'SKLIIMPT Index',
'SKLIEMPP Index',
'SKLILAP Index',
'SKLILAI Index',
'SKLINE Index',
'SKLICPY Index',
'KOBONTL Index',
'KOHSTR Index',
'KOHPTTL Index',
'KOHPTYOY Index',
'KOHCTTL Index',
'KOHCTYOY Index',
'KOBLTHML Index',
'KOBLTHMY Index',
'KOUHTTL Index',
'KORST Index',
'KORSTY Index',
'KODSDEPT Index',
'KODSDISC Index',
'KOVMTOTS Index',
'KOVMDOMS Index',
'KOVMEXPS Index',
'KOCCCSI Index',
'KOHOINC Index',
'KOHOINCY Index',
'KOHEUINY Index',
'KOHHD Index',
'KOHHDY Index',
'KOHHL Index',
'KOHHLY Index',
'EOKOS002 Index',
'KOBPCB Index',
'EHCAKRY Index',
'KOBPFIN Index',
'KOBPCA Index',
'KODIBAL Index',
'KOBPTB Index',
'KOTRBAL Index',
'KOEXTOT Index',
'KOIMTOT Index',
'KOEXTOTY Index',
'KOIMTOTY Index',
'KOEXPTI Index',
'KOEXPTIY Index',
'KOEXPTIM Index',
'KOIMPTI Index',
'KOIMPTIY Index',
'KOIMPTIM Index',
'KOFDIT Index',
'KOFDITY Index',
'KOELTOT Index',
'KOGFBAL Index',
'KOGFTEXP Index',
'KOGFTR Index',
'G7BBKORE Index',
'GDDBSOKO Index',
'KOMSMBY Index',
'KOMSM1Y Index',
'KOMSM2Y Index',
'KOMSM3Y Index',
'KOMSLY Index',
'KOMSM1FY Index',
'KOFETOT Index',
'KOFETOT% Index',
'KORP7D Index',
'KOCICOBA Index',
'KOCICONF Index',
'KRBO3M Index',
'KWCDC Curncy',
'GVSK10YR Index'], :]

In [7]:
eco.head()

                col1  col2        col3  col4
col0
GDP CQOQ Index     0     1  03/31/1981   8.1
GDP CQOQ Index     0     1  06/30/1981  -2.9
GDP CQOQ Index     0     1  09/30/1981   4.9
GDP CQOQ Index     0     1  12/31/1981  -4.3
GDP CQOQ Index     0     1  03/31/1982  -6.1

In [29]:
eco.set_index('col0', inplace = True)

In [13]:
eco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821348 entries, 0 to 821347
Data columns (total 5 columns):
col0    821348 non-null object
col1    821348 non-null int64
col2    821348 non-null int64
col3    821348 non-null object
col4    821348 non-null object
dtypes: int64(2), object(3)
memory usage: 31.3+ MB

In [15]:
eco.head()

             col0  col1  col2        col3  col4
0  GDP CQOQ Index     0     1  03/31/1981   8.1
1  GDP CQOQ Index     0     1  06/30/1981  -2.9
2  GDP CQOQ Index     0     1  09/30/1981   4.9
3  GDP CQOQ Index     0     1  12/31/1981  -4.3
4  GDP CQOQ Index     0     1  03/31/1982  -6.1

In [9]:
len(eco[eco['col4'] == ' '])

454

In [14]:
eco['col0'] = pd.to_numeric(eco['col0'])

ValueError: Unable to parse string "GDP CQOQ Index" at position 0

In [69]:
for i in ['col1', 'col2', 'col4']:
    eco[i] = pd.to_numeric(eco[i])

ValueError: Unable to parse string "9.0963MMMM" at position 171628

In [36]:
len(eco)

821348

In [37]:
len(eco[eco['col4'] == ' '])

454

In [54]:
eco.drop(eco[eco['col4'] == ' '].index, axis = 0, inplace = True)

In [12]:
eco.reset_index(inplace = True)

In [60]:
len(eco[eco['col4'] == '3.0609MMMM'])

1

In [70]:
eco.drop(eco[eco['col4'] == '9.0963MMMM'].index, axis = 0, inplace = True)

In [59]:
eco['col4']

array(['8.1', '-2.9', '4.9', ..., 14038.0, 14031.0, 14043.0], dtype=object)

In [74]:
def change(x):
    if 'm' in x:
        x = ' '
    return x

In [98]:
eco['col4']

0           8.1
1          -2.9
2           4.9
3          -4.3
4          -6.1
          ...
821343    14038
821344    14028
821345    14035
821346    14031
821347    14043
Name: col4, Length: 820889, dtype: object

In [105]:
list(eco['col4'][1])[-1]

'9'

In [99]:
eco['col4'] = eco['col4'].map(lambda x: change(x))

TypeError: argument of type 'float' is not iterable