In [1]:
import pandas as pd
import re

In [190]:
to = pd.read_csv('total_data.csv')

In [191]:
to.head()

,Unnamed: 0,date,Amazon_close,Amazon_volume,Amazon_change,AMD_close,AMD_volume,AMD_change,APPLE_close,APPLE_volume,...,TSMC_change,UMC_close,UMC_volume,UMC_change,USDollarIndex_close,USDollarIndex_volume,USDollarIndex_change,USD_KRW_close,USD_KRW_volume,USD_KRW_change
0,0,2006-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1012.82,0.0,0.53
1,1,2006-01-03,46.25,7580000.0,0.91,32.40,16649999.0,5.88,10.68,201850000.0,...,3.6518,4.266,5350000.0,2.24,89.84,0.0,-1.46,1004.50,0.0,-0.82
2,2,2006-01-04,46.69,7440000.0,-0.69,32.56,11300000.0,0.49,10.71,155230000.0,...,1.7457,4.212,3150000.0,-1.87,89.14,0.0,-0.78,998.35,0.0,-0.61
3,3,2006-01-05,47.11,5420000.0,0.85,33.68,13810000.0,3.44,10.63,112400000.0,...,1.9777,4.212,8760000.0,-0.33,89.33,0.0,0.21,994.75,0.0,-0.36
4,4,2006-01-06,47.32,6150000.0,0.46,33.78,13310000.0,0.30,10.90,176140000.0,...,1.7525,4.239,13450000.0,4.48,88.85,0.0,-0.54,989.30,0.0,-0.55

In [192]:
to.drop('Unnamed: 0', axis = 1, inplace = True)

In [193]:
to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5051 entries, 0 to 5050
Data columns (total 100 columns):
date                             5051 non-null object
Amazon_close                     3482 non-null float64
Amazon_volume                    3482 non-null float64
Amazon_change                    3482 non-null float64
AMD_close                        3482 non-null float64
AMD_volume                       3482 non-null float64
AMD_change                       3482 non-null float64
APPLE_close                      3482 non-null float64
APPLE_volume                     3482 non-null float64
APPLE_change                     3482 non-null float64
AppliedMaterials_close           3482 non-null float64
AppliedMaterials_volume          3482 non-null float64
AppliedMaterials_change          3482 non-null float64
Aspeed_close                     1097 non-null float64
Aspeed_volume                    1097 non-null float64
Aspeed_change                    1097 non-null float64
Dell_close                       807 non-null float64
Dell_volume                      807 non-null float64
Dell_change                      807 non-null float64
EUR_KRW_close                    3609 non-null float64
EUR_KRW_volume                   3609 non-null float64
EUR_KRW_change                   3609 non-null float64
Facebook_close                   1875 non-null float64
Facebook_volume                  1875 non-null float64
Facebook_change                  1875 non-null float64
Google_close                     3482 non-null float64
Google_volume                    3482 non-null float64
Google_change                    3482 non-null float64
HPE_close                        1016 non-null float64
HPE_volume                       1016 non-null float64
HPE_change                       1016 non-null float64
Intel_close                      3482 non-null float64
Intel_volume                     3482 non-null float64
Intel_change                     3482 non-null float64
ISECloudComputingIndex_close     2984 non-null float64
ISECloudComputingIndex_volume    2134 non-null float64
ISECloudComputingIndex_change    2984 non-null float64
JPY_KRW_close                    3609 non-null float64
JPY_KRW_volume                   3609 non-null float64
JPY_KRW_change                   3609 non-null float64
KOSPI200_close                   3419 non-null float64
KOSPI200_volume                  3419 non-null object
KOSPI200_change                  3419 non-null float64
KRXsemiconductor_close           3419 non-null object
KRXsemiconductor_volume          3419 non-null object
KRXsemiconductor_change          3379 non-null float64
LamResearch_close                3482 non-null float64
LamResearch_volume               3482 non-null float64
LamResearch_change               3482 non-null float64
MediaTek_close                   1828 non-null float64
MediaTek_volume                  1828 non-null float64
MediaTek_change                  1828 non-null float64
Micron_close                     3482 non-null float64
Micron_volume                    3482 non-null float64
Micron_change                    3482 non-null float64
Microsoft_close                  3482 non-null float64
Microsoft_volume                 3482 non-null float64
Microsoft_change                 3482 non-null float64
Nuvoton_close                    1817 non-null float64
Nuvoton_volume                   1817 non-null float64
Nuvoton_change                   1817 non-null float64
Nvidia_close                     3482 non-null float64
Nvidia_volume                    3482 non-null float64
Nvidia_change                    3482 non-null float64
Philadelphia_close               3482 non-null float64
Philadelphia_volume              3482 non-null float64
Philadelphia_change              3482 non-null float64
QCOM_close                       3482 non-null float64
QCOM_volume                      3482 non-null float64
QCOM_change                      3482 non-null float64
SamsungElectronics_close         3419 non-null float64
SamsungElectronics_volume        3419 non-null float64
SamsungElectronics_change        3419 non-null float64
ShinEtsuChemical_close           2749 non-null float64
ShinEtsuChemical_volume          2749 non-null float64
ShinEtsuChemical_change          2749 non-null float64
Siltronic_close                  1112 non-null float64
Siltronic_volume                 1112 non-null float64
Siltronic_change                 1112 non-null float64
SKhynix_close                    3419 non-null object
SKhynix_volume                   3419 non-null object
SKhynix_change                   3419 non-null float64
Sumco_close                      1829 non-null float64
Sumco_volume                     1829 non-null float64
Sumco_change                     1829 non-null float64
TokyoElectron_close              3386 non-null float64
TokyoElectron_volume             3386 non-null float64
TokyoElectron_change             3386 non-null float64
TSMC_close                       3416 non-null float64
TSMC_volume                      3416 non-null float64
TSMC_change                      3416 non-null float64
UMC_close                        3482 non-null float64
UMC_volume                       3482 non-null float64
UMC_change                       3482 non-null float64
USDollarIndex_close              3590 non-null float64
USDollarIndex_volume             3590 non-null float64
USDollarIndex_change             3590 non-null float64
USD_KRW_close                    3609 non-null float64
USD_KRW_volume                   3609 non-null float64
USD_KRW_change                   3609 non-null float64
dtypes: float64(94), object(6)
memory usage: 3.9+ MB

In [194]:
to['KRXsemiconductor_close'].sort_values(ascending = False)

59      999.72
435     999.48
368     998.57
1192    998.48
379     998.07
         ...
5032       NaN
5038       NaN
5039       NaN
5045       NaN
5046       NaN
Name: KRXsemiconductor_close, Length: 5051, dtype: object

In [195]:
to['KRXsemiconductor_close'].head()

0    1,000.00
1    1,012.36
2    1,007.17
3      991.68
4    1,008.15
Name: KRXsemiconductor_close, dtype: object

In [106]:
#to['KRXsemiconductor_close'] = to['KRXsemiconductor_close'].map(lambda x: re.sub("\D", "", str(x)))

In [196]:
to['KRXsemiconductor_close'] = to['KRXsemiconductor_close'].map(lambda x: re.sub(",", "", str(x)))

In [197]:
# 2번 테스트
to['KRXsemiconductor_close'] = to['KRXsemiconductor_close'].map(lambda x: re.sub("\.[0-9]*", "", str(x)))

In [198]:
to['KRXsemiconductor_close'] = pd.to_numeric(to['KRXsemiconductor_close'])

ValueError: Unable to parse string "nan" at position 5

In [199]:
to['KRXsemiconductor_close'].head()

0    1000
1    1012
2    1007
3     991
4    1008
Name: KRXsemiconductor_close, dtype: object

In [202]:
to['KRXsemiconductor_close'].sort_values(ascending = False)

2525     nan
3464     nan
3450     nan
1244     nan
1238     nan
        ...
134     1001
16      1000
137     1000
53      1000
0       1000
Name: KRXsemiconductor_close, Length: 5051, dtype: object

In [206]:
(to['KRXsemiconductor_close'] == 'nan').sum()

1632