In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('total_data_preprocessed.csv')

In [3]:
a.head()

,Unnamed: 0,date,Amazon_close,Amazon_volume,Amazon_change,AMD_close,AMD_volume,AMD_change,APPLE_close,APPLE_volume,...,TSMC_change,UMC_close,UMC_volume,UMC_change,USDollarIndex_close,USDollarIndex_volume,USDollarIndex_change,USD_KRW_close,USD_KRW_volume,USD_KRW_change
0,0,2006-01-03,46.25,7580000.0,0.91,32.40,16649999.0,5.88,10.68,201850000.0,...,3.6518,4.266,5350000.0,2.24,89.84,0.0,-1.46,1004.50,0.0,-0.82
1,1,2006-01-04,46.69,7440000.0,-0.69,32.56,11300000.0,0.49,10.71,155230000.0,...,1.7457,4.212,3150000.0,-1.87,89.14,0.0,-0.78,998.35,0.0,-0.61
2,2,2006-01-05,47.11,5420000.0,0.85,33.68,13810000.0,3.44,10.63,112400000.0,...,1.9777,4.212,8760000.0,-0.33,89.33,0.0,0.21,994.75,0.0,-0.36
3,3,2006-01-06,47.32,6150000.0,0.46,33.78,13310000.0,0.30,10.90,176140000.0,...,1.7525,4.239,13450000.0,4.48,88.85,0.0,-0.54,989.30,0.0,-0.55
4,4,2006-01-09,46.40,8950000.0,-1.65,33.25,9980000.0,-1.57,10.86,168860000.0,...,4.7635,4.429,8920000.0,3.68,89.25,0.0,0.45,977.45,0.0,-1.20

In [4]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608 entries, 0 to 3607
Columns: 101 entries, Unnamed: 0 to USD_KRW_change
dtypes: float64(99), int64(1), object(1)
memory usage: 2.8+ MB

In [5]:
a.drop('Unnamed: 0', axis = 1, inplace = True)

In [6]:
a.head()

,date,Amazon_close,Amazon_volume,Amazon_change,AMD_close,AMD_volume,AMD_change,APPLE_close,APPLE_volume,APPLE_change,...,TSMC_change,UMC_close,UMC_volume,UMC_change,USDollarIndex_close,USDollarIndex_volume,USDollarIndex_change,USD_KRW_close,USD_KRW_volume,USD_KRW_change
0,2006-01-03,46.25,7580000.0,0.91,32.40,16649999.0,5.88,10.68,201850000.0,3.99,...,3.6518,4.266,5350000.0,2.24,89.84,0.0,-1.46,1004.50,0.0,-0.82
1,2006-01-04,46.69,7440000.0,-0.69,32.56,11300000.0,0.49,10.71,155230000.0,0.28,...,1.7457,4.212,3150000.0,-1.87,89.14,0.0,-0.78,998.35,0.0,-0.61
2,2006-01-05,47.11,5420000.0,0.85,33.68,13810000.0,3.44,10.63,112400000.0,-0.75,...,1.9777,4.212,8760000.0,-0.33,89.33,0.0,0.21,994.75,0.0,-0.36
3,2006-01-06,47.32,6150000.0,0.46,33.78,13310000.0,0.30,10.90,176140000.0,2.54,...,1.7525,4.239,13450000.0,4.48,88.85,0.0,-0.54,989.30,0.0,-0.55
4,2006-01-09,46.40,8950000.0,-1.65,33.25,9980000.0,-1.57,10.86,168860000.0,-0.37,...,4.7635,4.429,8920000.0,3.68,89.25,0.0,0.45,977.45,0.0,-1.20