In [1]:
import pandas as pd
import os
import sys

# Target Bloomberg Ticker 

중국 주가지수  | SHCOMP Index -> economic?
중국 국채 10년물  | GTCNY10Y Corp -> commodity

미국 S&P 500 지수 | SPX Index -> economic?
미국 국채 10년물 |  GTUSD10Y Govt -> commodity

한국 코스피 지수  | KOSPI Index -> economic
한국 국채 10년물  | GTKRW10Y Corp -> commodity

달러인덱스  |  DXY Curncy -> economic?
유가 선물  | CL1 Comdty 
금 현물  |   XAU Curncy

In [2]:
!ls /Users/mokpolar/Downloads/bloomberg_raw/

barclays.csv      data              moneymarket.csv
code              economic.csv      msci.csv
commodity.csv     future.csv        world_indices.csv

In [3]:
file_path = os.path.abspath('/Users/mokpolar/Downloads/bloomberg_raw/')

In [4]:
files = []
for i in os.listdir(file_path):
    if 'csv' in i:
        files.append(i)

In [5]:
files

['msci.csv',
 'barclays.csv',
 'economic.csv',
 'commodity.csv',
 'world_indices.csv',
 'moneymarket.csv',
 'future.csv']

In [ ]:
file_names = []
for i in files:
    file_names.append(i.split('.')[0])

In [46]:
file_names

['msci',
 'barclays',
 'economic',
 'commodity',
 'world_indices',
 'moneymarket',
 'future']

In [9]:
mod = sys.modules[__name__]

In [14]:
for i, j in enumerate(file_names):
    setattr(mod, file_names[i], pd.read_csv(os.path.join(file_path, j + '.csv')))

/Users/mokpolar/opt/anaconda3/envs/tf2-py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/mokpolar/opt/anaconda3/envs/tf2-py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
msci

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,MXWD Index,0,7,12/31/1987,100,100,100,100,,,
1,MXWD Index,0,7,01/01/1988,100,100,100,100,0,0,
2,MXWD Index,0,7,01/04/1988,99.91,99.91,99.91,99.91,-0.09,-0.09,
3,MXWD Index,0,7,01/05/1988,99.7,99.7,99.7,99.7,-0.21,-0.21,
4,MXWD Index,0,7,01/06/1988,101.26,101.26,101.26,101.26,1.56,1.56,
...,...,...,...,...,...,...,...,...,...,...,...
2015100,MXJPHEUR Index,0,7,09/03/2012,90.45,91.25,89.93,90.07,-0.41,-0.45,
2015101,MXJPHEUR Index,0,7,09/04/2012,90.07,90.2,89.45,89.88,-0.19,-0.21,
2015102,MXJPHEUR Index,0,7,09/05/2012,89.62,89.65,88.77,88.8,-1.08,-1.2,
2015103,MXJPHEUR Index,0,7,09/06/2012,89.05,89.05,88.46,89,0.2,0.23,
2015104,MXJPHEUR Index,0,7,09/07/2012,89.51,91.22,89.46,91.2,2.2,2.47,

In [16]:
find_target = ['SHCOMP Index', 'GTCNY10Y Corp', 'SPX Index', 'GTUSD10Y Govt', 'KOSPI Index', 'GTKRW10Y Corp', 'DXY Curncy', 'CL1 Comdty', 'XAU Curncy']

In [47]:
dfs = [msci, barclays, economic, commodity, world_indices, moneymarket, future]

In [48]:
for i, j in enumerate(dfs):
    for l in find_target:
        if (j.col0 == l).sum() > 0:
            print(file_names[i], l)
        else:
            pass

commodity CL1 Comdty
commodity XAU Curncy
world_indices SHCOMP Index
world_indices SPX Index
world_indices KOSPI Index
moneymarket GTCNY10Y Corp
moneymarket GTUSD10Y Govt
moneymarket GTKRW10Y Corp
future DXY Curncy

In [64]:
com = commodity[commodity['col0'].isin(['CL1 Comdty', 'XAU Curncy'])]

In [65]:
wor = world_indices[world_indices['col0'].isin(['SHCOMP Index', 'SPX Index', 'KOSPI Index'])]

In [66]:
mon = moneymarket[moneymarket['col0'].isin(['GTCNY10Y Corp', 'GTUSD10Y Govt', 'GTKRW10Y Corp'])]

In [67]:
fut = future[future['col0'].isin(['DXY Curncy'])]

In [69]:
df = pd.concat([com, wor, mon, fut], axis = 0)

In [71]:
df.to_csv('target.csv')

In [72]:
df.col0.unique()

array(['CL1 Comdty', 'XAU Curncy', 'SPX Index', 'SHCOMP Index',
       'KOSPI Index', 'GTUSD10Y Govt', 'GTCNY10Y Corp', 'GTKRW10Y Corp',
       'DXY Curncy'], dtype=object)