In [32]:
# library use
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
from datetime import datetime
import calendar
from math import sin, cos, sqrt, atan2, radians
from folium import FeatureGroup, LayerControl, Map, Marker
from folium.plugins import HeatMap
import matplotlib.dates as mdates
import matplotlib as mpl
from datetime import timedelta
import datetime as dt
warnings.filterwarnings('ignore')
pd.set_option('display.max_colwidth', -1)
plt.style.use('fivethirtyeight')
import folium
from sklearn.cluster import KMeans
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
import pickle
%config InlineBackend.figure_format = 'retina'
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.model_selection import cross_val_score

In [33]:
df = pd.read_csv('data_change_ver0.2.csv')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3434 entries, 0 to 3433
Data columns (total 8 columns):
Unnamed: 0       3434 non-null int64
date             3434 non-null object
krx_change       3434 non-null float64
hy_change        3434 non-null float64
ts_change        3197 non-null float64
google_change    3214 non-null float64
intel_change     3214 non-null float64
micron_change    3214 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 214.8+ KB

In [35]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [36]:
# 일단 뒤부터 메꾸자 전일꺼 데이터로 메꾸기 
df.fillna(method = 'bfill', inplace = True)

In [37]:
# 앞도 메꾸자 아직도 비어있는건 전일껄로 앞에 메우기 
df.fillna(method = 'ffill', inplace = True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3434 entries, 0 to 3433
Data columns (total 7 columns):
date             3434 non-null object
krx_change       3434 non-null float64
hy_change        3434 non-null float64
ts_change        3434 non-null float64
google_change    3434 non-null float64
intel_change     3434 non-null float64
micron_change    3434 non-null float64
dtypes: float64(6), object(1)
memory usage: 187.9+ KB

In [39]:
date = df['date']

In [40]:
df.drop('date', axis = 1, inplace = True)

In [41]:
y_target = df['krx_change']

In [42]:
X_data = df.drop(['krx_change'], axis = 1, inplace = False)

In [43]:
X_data.head()

   hy_change  ts_change  google_change  intel_change  micron_change
0  0.926509   1.017414   1.051503       1.013297      1.039970
1  0.980170   1.019782   1.003953       1.013894      1.009253
2  1.013006   1.017569   1.026611       1.001523      1.020451
3  1.048502   1.047634   1.016972       1.006081      1.015895
4  1.034014   0.977291   1.002384       0.986777      0.991156

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_target, test_size = 0.3, random_state = 156)

In [45]:
# alpha값에 따른 회귀 모델의 폴드 평균 RMSE를 출력하고 회귀 계수값들을 DataFrame으로 반환
def get_linear_reg_eval(model_name, params = None, X_data_n = None, y_target_n = None, verbose = True):
    coeff_df = pd.DataFrame()
    if verbose : print("model name : ", model_name)
    for param in params:
        if model_name == "Ridge" : model = Ridge(alpha = param)
        elif model_name == "Lasso" : model = Lasso(alpha = param)
        elif model_name == "ElasticNet" : model = ElasticNet(alpha = param, l1_ratio = 0.7)
        neg_mse_scores = cross_val_score(model, X_data_n, y_target_n, scoring = "neg_mean_squared_error", cv = 5)
        avg_rmse = np.mean(np.sqrt(-1 * neg_mse_scores))
        print('alpha {0}일 때 5 폴드 세트의 평균 RMSE : {1:.3f}'.format(param, avg_rmse))
        
        # cross validation score는 evaluation metric만 반환하므로 모델을 다시 학습하여 회귀계수 추출
        model.fit(X_data, y_target)
        
        # alpha에 따른 피쳐별 회귀 계수를 Series로 변환하고 이를 DataFrame의 컬럼으로 추가
        coeff = pd.Series(data = model.coef_, index = X_data.columns)
        colname = 'alpha :' + str(param)
        coeff_df[colname] = coeff
    return coeff_df

In [46]:
# lasso에 사용 될 alpha 파라미터의 값을 정의하고 get_linear_reg_eval() 함수 호출
lasso_alphas = [0.07, 0.1, 0.5, 1, 3]
coeff_lasso_df = get_linear_reg_eval('Lasso', params = lasso_alphas, X_data_n = X_data, y_target_n = y_target)

model name :  Lasso
alpha 0.07일 때 5 폴드 세트의 평균 RMSE : 0.017
alpha 0.1일 때 5 폴드 세트의 평균 RMSE : 0.017
alpha 0.5일 때 5 폴드 세트의 평균 RMSE : 0.017
alpha 1일 때 5 폴드 세트의 평균 RMSE : 0.017
alpha 3일 때 5 폴드 세트의 평균 RMSE : 0.017

In [48]:
# 반환된 coeff_lasso_df를 첫 번재 컬럼순으로 정렬해 coeff DataFrame 출력
sort_column = 'alpha :' + str(lasso_alphas[0])
coeff_lasso_df.sort_values(by = sort_column, ascending = False)

               alpha :0.07  alpha :0.1  alpha :0.5  alpha :1  alpha :3
hy_change      0.0          0.0         0.0         0.0       0.0
ts_change      0.0          0.0         0.0         0.0       0.0
google_change  0.0          0.0         0.0         0.0       0.0
intel_change   0.0          0.0         0.0         0.0       0.0
micron_change  0.0          0.0         0.0         0.0       0.0