In [5]:
# library use
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
from datetime import datetime
import calendar
from math import sin, cos, sqrt, atan2, radians
from folium import FeatureGroup, LayerControl, Map, Marker
from folium.plugins import HeatMap
import matplotlib.dates as mdates
import matplotlib as mpl
from datetime import timedelta
import datetime as dt
warnings.filterwarnings('ignore')
pd.set_option('display.max_colwidth', -1)
plt.style.use('fivethirtyeight')
import folium
from sklearn.cluster import KMeans
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
import pickle
%config InlineBackend.figure_format = 'retina'
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [40]:
df = pd.read_csv('data_change_ver0.2.csv')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3434 entries, 0 to 3433
Data columns (total 8 columns):
Unnamed: 0       3434 non-null int64
date             3434 non-null object
krx_change       3434 non-null float64
hy_change        3434 non-null float64
ts_change        3197 non-null float64
google_change    3214 non-null float64
intel_change     3214 non-null float64
micron_change    3214 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 214.8+ KB

In [42]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [43]:
# 일단 뒤부터 메꾸자 전일꺼 데이터로 메꾸기 
df.fillna(method = 'bfill', inplace = True)

In [44]:
# 앞도 메꾸자 아직도 비어있는건 전일껄로 앞에 메우기 
df.fillna(method = 'ffill', inplace = True)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3434 entries, 0 to 3433
Data columns (total 7 columns):
date             3434 non-null object
krx_change       3434 non-null float64
hy_change        3434 non-null float64
ts_change        3434 non-null float64
google_change    3434 non-null float64
intel_change     3434 non-null float64
micron_change    3434 non-null float64
dtypes: float64(6), object(1)
memory usage: 187.9+ KB

In [54]:
date = df['date']

In [56]:
df.drop('date', axis = 1, inplace = True)

In [57]:
y_target = df['krx_change']

In [58]:
X_data = df.drop(['krx_change'], axis = 1, inplace = False)

In [59]:
X_data.head()

   hy_change  ts_change  google_change  intel_change  micron_change
0  0.926509   1.017414   1.051503       1.013297      1.039970
1  0.980170   1.019782   1.003953       1.013894      1.009253
2  1.013006   1.017569   1.026611       1.001523      1.020451
3  1.048502   1.047634   1.016972       1.006081      1.015895
4  1.034014   0.977291   1.002384       0.986777      0.991156

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_target, test_size = 0.3, random_state = 156)

In [61]:
# 선형 회귀 OLS로 학습 예측 평가 수행
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [63]:
y_pred = lr.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

In [64]:
print('MSE: {0: .3f}, RMSE : {1:.3F}'.format(mse, rmse))
print('Variance Score : {0:3f}'.format(r2_score(y_test, y_pred)))

MSE:  0.000, RMSE : 0.011
Variance Score : 0.588660

In [66]:
# intercept, coefficients 확인
print('절편 값 :', lr.intercept_)
print('회귀 계수 값 :', np.round(lr.coef_, 1))

절편 값 : 0.28134350640989714
회귀 계수 값 : [ 0.4  0.2  0.1  0.  -0. ]

In [67]:
# 피쳐별 회귀 계수 값으로 정렬
coeff = pd.Series(data = np.round(lr.coef_, 1), index = X_data.columns)
coeff.sort_values(ascending = False)

hy_change        0.4
ts_change        0.2
google_change    0.1
micron_change   -0.0
intel_change     0.0
dtype: float64