In [3]:
import pandas as pd
import numpy as np

In [4]:
t5 = pd.read_csv('automl_test_prediction-krx_5.csv')

In [5]:
t5_raw = pd.read_csv('automl_5_200227.csv')

In [6]:
y_test = t5_raw['KRXsemiconductor_change'].tail(505)

In [7]:
y_test.reset_index(inplace = True, drop = True)

In [8]:
y_test.head()

0    0.480000
1    0.570000
2    1.330000
3    1.540630
4    1.423301
Name: KRXsemiconductor_change, dtype: float64

In [9]:
t5.sort_values(by = 'date', inplace = True)

In [10]:
t5.reset_index(inplace = True, drop = True)

In [11]:
t5.head()

,date,GDPCQOQIndex,GDPCYOYIndex,GDPCTOTIndex,GPDITOCIndex,GPGSTOCIndex,RGCDCIPIIndex,GDPCURIndex,GDPCURYIndex,GDPPIQQIndex,...,Philadelphia_product,QCOM_product,ShinEtsuChemical_product,Siltronic_product,SKhynix_product,Sumco_product,TokyoElectron_product,TSMC_product,UMC_product,predicted_KRXsemiconductor_change
0,2018-06-14,3.317091,3.151277,3.546236,-2.055321,2.423474,-26.558691,20450.95632,5.872843,3.152974,...,0.951517,0.868174,0.577902,1.080397,1.289615,0.634060,1.210298,0.996124,0.323529,-0.464917
1,2018-06-15,3.330223,3.154642,3.579007,-2.083733,2.435273,-26.953685,20454.79069,5.882098,3.159286,...,1.714843,1.659837,1.250209,0.935965,0.638891,0.949438,1.309422,1.357043,2.252817,-0.449079
2,2018-06-16,3.343172,3.157972,3.611313,-2.106808,2.447004,-27.312258,20458.61005,5.891201,3.165196,...,1.054642,1.024973,0.839123,0.990933,0.983793,0.859866,1.169281,1.286546,1.218599,-0.316786
3,2018-06-17,3.355929,3.161263,3.643129,-2.124422,2.458662,-27.633503,20462.41383,5.900148,3.170696,...,0.747246,0.697030,0.897208,1.026427,1.419122,0.800145,1.090073,1.123877,0.657044,-0.153539
4,2018-06-18,3.368484,3.164516,3.674427,-2.136452,2.470237,-27.916512,20466.20144,5.908934,3.175774,...,0.751156,0.697151,2.162350,0.968889,1.109309,1.168558,1.000298,0.988917,0.445246,0.069617

In [19]:
y_pred = t5['predicted_KRXsemiconductor_change']

In [23]:
y_pred.shape, y_test.shape

((505,), (505,))

In [24]:
# metric êµ¬ì„±

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score

class CustomMetric():

    def __init__(self, pred, real):
            self.pred = pred
            self.real = real
            self.thr25 = np.percentile(self.real, 25)
            self.thr75 = np.percentile(self.real, 75)
            self.df = pd.DataFrame({'pred' : self.pred, 'real' : self.real})
        
    def issame(self, data1, data2):
        if data1 > 0 and data2 > 0 : 
            return 'T'
        elif data1 > 0 and data2 < 0 :
            return 'F'
        elif data1 < 0 and data2 > 0 :
            return 'F'
        elif data1 < 0 and data2 < 0 :
            return 'T'
        elif data1 == 0 or data2 == 0 :
            return 0
        else :
            return 'notcal'

    def getouter(self, data1, data2): #quantile_25 = np.percentile(values, 25)

        if data1 > 0 and data2 >= self.thr75 :
            return 'T'
        elif data1 < 0 and data2 <= self.thr25 :
            return 'T'
        elif data1 >= 0 and data2 <= self.thr25 :
            return 'F'
        elif data1 <= 0 and data2 >= self.thr75: 
            return 'F'
        else:
            return 'notcal'
        
    def makedf(self):
        self.df['TF'] = self.df.apply(lambda x : self.issame(x['pred'], x['real']), axis = 1)
        self.df['thrTF'] = self.df.apply(lambda x : self.getouter(x['pred'], x['real']), axis = 1)
        
        return self.df
        
    def execution(self):
        mdf = pd.DataFrame()
        mdf['CORR'] = [self.df['real'].corr(self.df['pred'], method = 'pearson')]
        mdf['R2'] = ["{0:0.4f}".format(r2_score(self.df['real'], self.df['pred']))]
        mdf['MAE'] = ["{0:0.4f}".format(mean_absolute_error(self.df['pred'], self.df['real']))]
        mdf['RMSE'] = ["{0:0.4f}".format(np.sqrt(mean_squared_error(self.df['pred'], self.df['real'])))]
        mdf['ACR'] = [sum(self.df['TF'] == 'T')/len(self.df['TF'])]
        
        mdf['threshACR'] = [sum(self.df['thrTF'] == 'T') / sum(self.df['thrTF'] != 'notcal')]
        
        return mdf

In [25]:
metr = CustomMetric(y_pred, y_test)
metr.makedf()
metr.execution()

       CORR      R2     MAE    RMSE      ACR  threshACR
0  0.109439  0.0063  1.5643  2.0905  0.50099   0.535433

In [37]:
r2_score(y_test, y_pred)

0.006275548635097161

In [36]:
r2_score(y_pred, y_test)

-37.10153651961387

In [28]:
corr(y_test, y_pred)

NameError: name 'corr' is not defined

In [29]:
k = pd.DataFrame(y_test)

In [31]:
k['a'] = y_pred

In [34]:
k['KRXsemiconductor_change'].corr(k['a'])

0.10943913671929831

In [35]:
k['a'].corr(k['KRXsemiconductor_change'])

0.10943913671929832